schema/Page.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by TEAM ViRiLiTY (VRL) -->
<xs:schema xmlns="http://www.ofdspec.org"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.ofdspec.org" elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <xs:include schemaLocation="Definitions.xsd" />
  <!--页面描述定义，分为页面-图层-文本、图形、图像三个层次。-->
  <xs:element name="Page">
    <xs:annotation>
      <xs:documentation>页面描述文件的根节点</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Template" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>该页面使用的模板页。在模板页的页结构描述中该属性无 效。</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="TemplateID" type="ST_RefID" use="required">
              <xs:annotation>
                <xs:documentation>通过RefID引用公用数据类型中定义的模板页的ID。 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ZOrder" use="optional" default="Background">
              <xs:annotation>
                <xs:documentation>控制模板在页面中的呈现次序。如果此属性相等，则 应根据其出现的顺序来显示，先出现者先绘制。</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Background" />
                  <xs:enumeration value="Foreground" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Area" type="CT_PageArea" minOccurs="0">
          <xs:annotation>
            <xs:documentation>定义该页页面区域的大小和位置，仅对该页有效。该节点 不出现时则先看模板页中的定义，如果模板页不存在或模板页没有定义页面区域则使用文档
              根节点中的定义。</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PageRes" type="ST_Loc" minOccurs="0"
          maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>页资源，为Loc类型，指向该页使用的资源文件。 </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Content" minOccurs="0">
          <xs:annotation>
            <xs:documentation>页面内容描述。该节点不存在时，表示空白页。 </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Layer" type="CT_Layer" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>一页包含一个或多个图层。</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Actions" type="CT_Actions" minOccurs="0">
          <xs:annotation>
            <xs:documentation>该页所具有的动作序列。页面中不能出现Event=DO的动 作。</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--页结构定义-->
  <xs:complexType name="CT_Clip">
    <xs:annotation>
      <xs:documentation>裁剪区类型，描述了图元的裁剪区。裁剪区是各个Area的“并”。 </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Area" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>裁剪区由多个分路径组成。</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="Path" type="CT_Path">
              <xs:annotation>
                <xs:documentation>用于裁剪的路径。</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Text" type="CT_Text">
              <xs:annotation>
                <xs:documentation>用于裁剪的文本。</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:attribute name="DrawParam" type="ST_RefID">
            <xs:annotation>
              <xs:documentation>绘制参数引用。使用该对象时主要使用绘制参数中关于
                LineWidth、Join、Cap、DashOffset和DashPattern属性。</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="CTM" type="ST_Array">
            <xs:annotation>
              <xs:documentation>针对对象坐标系，对Area下包含的Path和Text进行进一 步的变换。</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CT_PageBlock">
    <xs:annotation>
      <xs:documentation>页面块类型</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CT_Base">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="TextObject" type="CT_Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation>文本对象。</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PathObject" type="CT_Path" minOccurs="0">
            <xs:annotation>
              <xs:documentation>路径对象。</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ImageObject" type="CT_Image" minOccurs="0">
            <xs:annotation>
              <xs:documentation>图像对象。</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VideoObject" type="CT_Video" minOccurs="0">
            <xs:annotation>
              <xs:documentation>视频对象。</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CompositeObject" minOccurs="0">
            <xs:annotation>
              <xs:documentation>复合对象。</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="CT_GraphicUnit">
                  <xs:attribute name="ResourceID" type="ST_RefID"
                    use="required">
                    <xs:annotation>
                      <xs:documentation>通过此属性引用资源中定义的复合对象，以其 作为绘制内容。</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="PageBlock" type="CT_PageBlock" minOccurs="0">
            <xs:annotation>
              <xs:documentation>页面块。可以嵌套。</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CT_Layer">
    <xs:annotation>
      <xs:documentation>层类型</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CT_PageBlock">
        <xs:attribute name="Type" default="Body">
          <xs:annotation>
            <xs:documentation>层类型描述，缺省为Body，也可以自定义。 </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Body">
                <xs:annotation>
                  <xs:documentation>正文层。</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="Background">
                <xs:annotation>
                  <xs:documentation>背景层。</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="Foreground">
                <xs:annotation>
                  <xs:documentation>前景层。</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="Custom">
                <xs:annotation>
                  <xs:documentation>自定义图层，自定义图层需要配合扩展数据来决定 其显示顺序。</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="DrawParam" type="ST_RefID">
          <xs:annotation>
            <xs:documentation>图层的默认绘制参数。指向页内资源文件中所列的绘制参 数（样式）之一</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--图元的基础定义-->
  <xs:complexType name="CT_GraphicUnit" abstract="true">
    <xs:annotation>
      <xs:documentation>图元对象类型，描述了图元的公有属性。</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CT_Base">
        <xs:sequence>
          <xs:element name="FillColor" type="CT_Color" minOccurs="0">
            <xs:annotation>
              <xs:documentation>填充颜色。</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StrokeColor" type="CT_Color" minOccurs="0">
            <xs:annotation>
              <xs:documentation>勾边颜色。</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Actions" type="CT_Actions" minOccurs="0">
            <xs:annotation>
              <xs:documentation>图元对象附带的动作序列。</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Clips" type="CT_Clip" minOccurs="0"
            maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>图元对象的裁剪区。</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Boundary" type="ST_Box" use="required">
          <xs:annotation>
            <xs:documentation>被引用图元对象的外接矩形，采用当前空间坐标系。 </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Name" type="xs:string">
          <xs:annotation>
            <xs:documentation>图元对象的名字。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Visible" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>图元是否可见。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CTM" type="ST_Array">
          <xs:annotation>
            <xs:documentation>对象坐标系下的变换矩阵。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DrawParam" type="ST_RefID">
          <xs:annotation>
            <xs:documentation>绘制参数引用。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="LineWidth" type="xs:double" default="0.353">
          <xs:annotation>
            <xs:documentation>线宽。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Cap" default="Butt">
          <xs:annotation>
            <xs:documentation>线帽样式。</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Butt" />
              <xs:enumeration value="Round" />
              <xs:enumeration value="Square" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Join" default="Miter">
          <xs:annotation>
            <xs:documentation>结合点样式。</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Miter" />
              <xs:enumeration value="Round" />
              <xs:enumeration value="Bevel" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="MiterLimit" type="xs:double" default="3.528">
          <xs:annotation>
            <xs:documentation>Join为Miter时JoinSize截断值。默认为3.528毫米（10磅）</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DashOffset" type="xs:double" default="0">
          <xs:annotation>
            <xs:documentation>虚线重复起始值。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DashPattern" type="ST_Array">
          <xs:annotation>
            <xs:documentation>虚线重复样式。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Alpha" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>取值区间为[0,255] 表示对象的透明度，0表示全透明， 255表示完全不透明。该属性不出现或超过取值范围时按照完全不透明的情况处理。 </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--文本对象及其定义-->
  <xs:complexType name="CT_Text">
    <xs:annotation>
      <xs:documentation>文字对象类型</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CT_GraphicUnit">
        <xs:sequence maxOccurs="unbounded">
          <xs:element name="CGTransform" type="CT_CGTransform" minOccurs="0"
            maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>字型变换信息。</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TextCode">
            <xs:annotation>
              <xs:documentation>文字内容，也就是一段字符编码串。需要进行XML转义 </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="X" type="xs:double">
                    <xs:annotation>
                      <xs:documentation>首字型的绘制点横向坐标。 </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Y" type="xs:double">
                    <xs:annotation>
                      <xs:documentation>首字型的绘制点纵向坐标。 </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="DeltaX" type="ST_Array">
                    <xs:annotation>
                      <xs:documentation>字型绘制点X方向偏移。</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="DeltaY" type="ST_Array">
                    <xs:annotation>
                      <xs:documentation>字型绘制点X方向偏移。</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Font" type="ST_RefID" use="required">
          <xs:annotation>
            <xs:documentation>使用的字体的标识。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Size" type="xs:double" use="required">
          <xs:annotation>
            <xs:documentation>字号，以毫米为单位。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Stroke" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>是否勾边。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Fill" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否填充。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="HScale" type="xs:double" default="1.0">
          <xs:annotation>
            <xs:documentation>水平缩放。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ReadDirection" type="xs:int" default="0">
          <xs:annotation>
            <xs:documentation>阅读方向。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CharDirection" type="xs:int" default="0">
          <xs:annotation>
            <xs:documentation>字符方向。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Weight" default="400">
          <xs:annotation>
            <xs:documentation>粗细度。</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:enumeration value="0" />
              <xs:enumeration value="100" />
              <xs:enumeration value="200" />
              <xs:enumeration value="300" />
              <xs:enumeration value="400" />
              <xs:enumeration value="500" />
              <xs:enumeration value="600" />
              <xs:enumeration value="700" />
              <xs:enumeration value="800" />
              <xs:enumeration value="900" />
              <xs:enumeration value="1000" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Italic" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>是否斜体。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CT_CGTransform">
    <xs:annotation>
      <xs:documentation>字型变换类型</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Glyphs" type="ST_Array" minOccurs="0">
        <xs:annotation>
          <xs:documentation>变换关系中字型索引列表。</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodePosition" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>TextCode中字符编码的起始位置，从0开始。 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CodeCount" type="xs:int" default="1">
      <xs:annotation>
        <xs:documentation>变换关系中字符的数量，该数值应大于等于1。默认值为1。 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="GlyphCount" type="xs:int" default="1">
      <xs:annotation>
        <xs:documentation>变换关系中字型索引的个数，该数值应大于等于1，否则属于 错误描述，缺省为1。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <!--图像对象定义-->
  <xs:complexType name="CT_Image">
    <xs:annotation>
      <xs:documentation>图像对象类型</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CT_GraphicUnit">
        <xs:attribute name="ResourceID" type="ST_RefID" use="required">
          <xs:annotation>
            <xs:documentation>指向资源文件中定义的多媒体对象的 ID</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Substitution" type="ST_RefID">
          <xs:annotation>
            <xs:documentation>（可选）指定可替换图像，用于某些情况如高分辨率输出 时进行图像替换。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--图形对象及其定义-->
  <xs:complexType name="CT_Path">
    <xs:annotation>
      <xs:documentation>路径对象类型</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CT_GraphicUnit">
        <xs:sequence>
          <xs:element name="AbbreviatedData" type="xs:string">
            <xs:annotation>
              <xs:documentation>定义了一种路径元素描述序列，由一系列紧缩的操作符 和操作数构成。使用对象相对坐标系。</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Stroke" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否被勾边，默认值为true。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Fill" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>是否被填充，默认值为false。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Rule" default="NonZero">
          <xs:annotation>
            <xs:documentation>描述Path的填充规则。可选值为NonZero和Even-Odd，默 认值为NonZero。</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="NonZero" />
              <xs:enumeration value="Even-Odd" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--视频对象及其定义-->
  <xs:complexType name="CT_Video">
    <xs:annotation>
      <xs:documentation>视频对象类型</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CT_Image">
        <xs:sequence>
          <xs:element name="Border" minOccurs="0">
            <xs:annotation>
              <xs:documentation>视频静态呈现区的边框。</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="BorderColor" type="CT_Color" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>边框颜色。默认值为黑色。</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="LineWidth" type="xs:double" default="0.353">
                <xs:annotation>
                  <xs:documentation>width为线宽，如果为0则表示边框不进行绘制。 </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="HorizonalCornerRadius" type="xs:double"
                default="0">
                <xs:annotation>
                  <xs:documentation>水平角半径</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="VerticalCornerRadius" type="xs:double"
                default="0">
                <xs:annotation>
                  <xs:documentation>垂直角半径</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="DashOffset" type="xs:double" default="0">
                <xs:annotation>
                  <xs:documentation>虚线偏移值，边框的起始点位置为左上角，绕行方 向为顺时针。</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="DashPattern" type="ST_Array">
                <xs:annotation>
                  <xs:documentation>虚线重复样式，边框的起始点位置为左上角，绕行 方向为顺时针。</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Title" type="xs:string">
          <xs:annotation>
            <xs:documentation>该视频对象的标题。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--底纹定义-->
  <xs:complexType name="CT_Pattern">
    <xs:annotation>
      <xs:documentation>底纹类型</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CT_Base">
        <xs:sequence>
          <xs:element name="CellContent">
            <xs:annotation>
              <xs:documentation>底纹图片的内容。可通过页面内容实时生成。 </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="CT_PageBlock">
                  <xs:attribute name="Thumbnail" type="ST_RefID">
                    <xs:annotation>
                      <xs:documentation>指向对应缩略图的资源标识。 </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Width" type="xs:double" use="required">
          <xs:annotation>
            <xs:documentation>底纹绘制区域的宽度。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Height" type="xs:double" use="required">
          <xs:annotation>
            <xs:documentation>底纹绘制区域的高度。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="XStep" type="xs:double">
          <xs:annotation>
            <xs:documentation>x方向底纹单元间距</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="YStep" type="xs:double">
          <xs:annotation>
            <xs:documentation>y方向底纹单元间距</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ReflectMethod" default="Normal">
          <xs:annotation>
            <xs:documentation>描述底纹Cell的映射翻转方式</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Normal" />
              <xs:enumeration value="Row" />
              <xs:enumeration value="Column" />
              <xs:enumeration value="RowAndColumn" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="RelativeTo" default="Object">
          <xs:annotation>
            <xs:documentation>Pattern单元起始绘制位置。</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Page">
                <xs:annotation>
                  <xs:documentation>相对于页面空间原点</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="Object">
                <xs:annotation>
                  <xs:documentation>相对于对象空间原点</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="CTM" type="ST_Array">
          <xs:annotation>
            <xs:documentation>用于某些需要对Pattern单元进行平移旋转变换的场合。 </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--渐变定义-->
  <xs:complexType name="CT_AxialShd">
    <xs:annotation>
      <xs:documentation>轴向渐变类型</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CT_Base">
        <xs:sequence>
          <xs:element name="Segment" minOccurs="2" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Color" type="CT_Color">
                  <xs:annotation>
                    <xs:documentation>此段的颜色，应为简单颜色。 </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="Position" type="xs:double">
                <xs:annotation>

                  <xs:documentation>介于0~1之间，用于确定StartPoint和EndPoint中 的各颜色的位置值。超过取值范围时按照不设置此属性计算。</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="MapType" default="Direct">
          <xs:annotation>
            <xs:documentation>渐变绘制的方式，默认值为Direct。</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Direct" />
              <xs:enumeration value="Repeat" />
              <xs:enumeration value="Reflect" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="MapUnit" type="xs:double">
          <xs:annotation>
            <xs:documentation>当MapType的值不为Direct时出现。表示轴线上一个渐变 区间所绘制的长度，默认值为轴线长度。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Extend" default="0">
          <xs:annotation>
            <xs:documentation>当轴线至少有一侧位于Clip裁剪区域对象内部时，轴线延 长线方向是否继续绘制渐变。可选值为0、1、2、3，默认值为0。</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:enumeration value="0">
                <xs:annotation>
                  <xs:documentation>不向两侧继续绘制渐变</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="1">
                <xs:annotation>
                  <xs:documentation>在终点至起点延长线方向绘制渐变 </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="2">
                <xs:annotation>
                  <xs:documentation>在起点至终点延长线方向绘制渐变 </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="3">
                <xs:annotation>
                  <xs:documentation>向两侧延长线方向绘制渐变</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="StartPoint" type="ST_Pos" use="required">
          <xs:annotation>
            <xs:documentation>轴线的起始点。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="EndPoint" type="ST_Pos" use="required">
          <xs:annotation>
            <xs:documentation>轴线的结束点。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CT_RadialShd">
    <xs:annotation>
      <xs:documentation>径向渐变类型</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CT_Base">
        <xs:sequence>
          <xs:element name="Segment" minOccurs="2" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Color" type="CT_Color">
                  <xs:annotation>
                    <xs:documentation>此段的颜色，应为简单颜色。 </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="Position" type="xs:double">
                <xs:annotation>
                  <xs:documentation>介于0~1之间，用于确定StartPoint和EndPoint中 的各颜色的位置值，超过取值范围时按照不设置此属性计算。</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="MapType" default="Direct">
          <xs:annotation>
            <xs:documentation>渐变绘制的方式。</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Direct" />
              <xs:enumeration value="Repeat" />
              <xs:enumeration value="Reflect" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="MapUnit" type="xs:double">
          <xs:annotation>
            <xs:documentation>当MapType的值不为Direct时出现。表示中心点连线上一 个渐变区间所绘制的长度，默认值为中心点连线长度。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Eccentricity" type="xs:double" default="0">
          <xs:annotation>
            <xs:documentation>两个椭圆的离心率，取值范围是[0, 1]。默认值为 0</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Angle" type="xs:double" default="0">
          <xs:annotation>
            <xs:documentation>倾斜角度，椭圆长轴与x轴正向的夹角，默认值为0，单位 为角度。 </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="StartPoint" type="ST_Pos" use="required">
          <xs:annotation>
            <xs:documentation>起始椭圆的中心点坐标。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="StartRadius" type="xs:double" default="0">
          <xs:annotation>
            <xs:documentation>起始椭圆的半长轴长度。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="EndPoint" type="ST_Pos" use="required">
          <xs:annotation>
            <xs:documentation>结束椭圆的中心点坐标。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="EndRadius" type="xs:double">
          <xs:annotation>
            <xs:documentation>结束椭圆的半长轴长度。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Extend" type="xs:int" default="0">
          <xs:annotation>
            <xs:documentation>当轴线至少有一侧位于Clip裁剪区域对象内部时，轴线延 长线方向是否继续绘制渐变。可选值为0、1、2、3，默认值为0。</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--颜色定义，渐变和填充被看作颜色的一种。-->
  <xs:complexType name="CT_Color">
    <xs:annotation>
      <xs:documentation>颜色类型</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Pattern" type="CT_Pattern" minOccurs="0">
        <xs:annotation>
          <xs:documentation>底纹也被看作是颜色的一种。</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0">
        <xs:annotation>
          <xs:documentation>渐变也被看作是颜色的一种。</xs:documentation>
        </xs:annotation>
        <xs:element name="AxialShd" type="CT_AxialShd">
          <xs:annotation>
            <xs:documentation>轴向渐变。</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RadialShd" type="CT_RadialShd">
          <xs:annotation>
            <xs:documentation>径向渐变。</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Value" type="ST_Array">
      <xs:annotation>
        <xs:documentation>颜色值，指定了当前颜色空间下各通道的取值。Value的取值" 通道1 通道2 通道3 ..."格式。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Index" type="xs:int">
      <xs:annotation>
        <xs:documentation>颜色索引值。使用带调色板的颜色空间时使用。 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ColorSpace" type="ST_RefID">
      <xs:annotation>
        <xs:documentation>所使用的颜色空间。默认为RGB</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Alpha" type="xs:nonNegativeInteger" default="255">
      <xs:annotation>
        <xs:documentation>颜色透明度，在0-255之间取值。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>